mixin test(obj)
	ul
		-for k, v of obj
			li #{k}: #{v}

+test({"Hello": "world"})
+test({
	"first": "line"
	"second": "line"
})
+test(
	((obj) ->
		# Swap the key/value pairs
		nobj = {}
		for key, val of obj
			nobj[val] = key
		return nobj
	)({"Hello": "world"})
)